body{
    margin: 0;
    padding: 0;
    background: rgb(23, 16, 56);;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 450px;
}

.box .card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 15px rgba(90, 76, 76, 0.2);
    transition: 0.5s;
    transform-origin: bottom;
    border-radius: 25px;
}

.box .card:nth-child(1){
    transform: translate(0px,0px);
    background: url(../img/draven.png);
    background-size: 301px;


}

.box .card:nth-child(2){
    transform: translate(2px,2px);
    background: url(../img/01FR009.webp);
    background-size: 301px;
}

.box .card:nth-child(3){
    transform: translate(4px,4px);
    background: url(../img/01SI030.webp);
    background-size: 301px;
}

.box .card:nth-child(4){
    transform: translate(6px,6px);
    background: url(../img/01SI052.webp);
    background-size: 301px;
}

.box .card:nth-child(5){
    transform: translate(8px,8px);
    background: url(../img/ez.png);
    background-size: 301px;
}

.box .card:nth-child(6){
    transform: translate(10px,10px);
    background: url(../img/zed.png);
    background-size: 301px;
}

.box .card:nth-child(7){
    transform: translate(12px,12px);
    background: url(../img/shen.png);
    background-size: 301px;
}

.box:hover .card:nth-child(1){
    transform: rotate(-45deg) translate(0px,0px);
}

.box:hover .card:nth-child(2){
    transform: rotate(-30deg) translate(0px,0px);
}

.box:hover .card:nth-child(3){
    transform: rotate(-15deg) translate(0px,0px);
}

.box:hover .card:nth-child(4){
    transform: rotate(0deg) translate(0px,0px);
}

.box:hover .card:nth-child(5){
    transform: rotate(15deg) translate(0px,0px);
}

.box:hover .card:nth-child(6){
    transform: rotate(30deg) translate(0px,0px);
}

.box:hover .card:nth-child(7){
    transform: rotate(45deg) translate(0px,0px);
}

.box:hover .card{
    z-index: 1;
    box-shadow: 0 20px 50px rgba(0, 0, 0,.5);
}